html,body {
    max-width:700px;
    font-size:18px;
    margin:0px auto;
    line-height:1.3;
    color:#444;
    padding:0px 10px;
}

h1,h2,h3 {
    font-weight: 300;
    letter-spacing: -.5px;
    line-height:1.1;
    margin: 25px 10px 10px 10px;
}

p {
    padding:4px 10px;
    margin: 0px 0px;
}
