<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  {%- include 'head.html' -%}

  <header class="site-header">
    <h1>{{ title }}</h1>
  </header>
  <body>
    {{ content }}
  </body>

</html>
