<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title | escape }}</title>
  <meta name="description" content="I compiled the list to document these freakish deaths that mostly were -- quite frankly -- completely unnecessary.">

  <link rel="stylesheet" href="{{ "/style.css" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
</head>
